In [1]:
import pandas as pd
import numpy as np
import re
import nltk
import string
import datetime
import json
from datetime import date
from nltk.corpus import stopwords

In [2]:
#columns of the csv file
COLS = ['id', 'created_at', 'text']

In [3]:
tweets = []
for line in open("twitter_data.txt","r"):
    tweets.append(json.loads(line))

FileNotFoundError: [Errno 2] No such file or directory: 'twitter_data.txt'

In [6]:
RDB = {}
for var in COLS:
    Text = []
    for i in range(0,len(tweets)):
        Text.append(tweets[i][var])
    RDB[var]=Text

In [7]:
#Emoji patterns
emoji_pattern = re.compile("["
         u"\U0001F600-\U0001F64F"  # emoticons
         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
         u"\U0001F680-\U0001F6FF"  # transport & map symbols
         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
         u"\U00002702-\U000027B0"
         u"\U000024C2-\U0001F251"
         "]+", flags=re.UNICODE)

In [8]:
##Cleaning & Convert Twitter Data to dataframe

def TwitterCleaning(DB):
    
    HDB = pd.DataFrame(DB)
    
    #Converting Datetime
    HDB['created_at'] = pd.to_datetime(HDB['created_at'])

    #Cleaning HTML Tags
    HDB['text']=HDB['text'].apply(lambda x: re.sub('<[^>]*>','',x))

    #Cleaning URL link
    HDB['text']=HDB['text'].apply(lambda x: re.sub(r"http\S+", "", x))

    #Cleaning punctuations
    HDB['text']=HDB['text'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

    #lower Case
    HDB['text']=HDB['text'].apply(lambda x: x.lower())
    
    #Remove Emoji
    HDB['text']=HDB['text'].apply(lambda x: emoji_pattern.sub(r'',x))
   
    return HDB

In [9]:
FDB = TwitterCleaning(RDB)

In [10]:
FDB.to_csv("Cleaned_Twitter_Data.csv")

In [17]:
df = pd.read_csv('covid-19_20200508.csv')
df.head(20)

,Unnamed: 0,Date,Location,Confirmed,Cases per 1 million people,Recovered,Deaths
0,0,2020-05-08,Worldwide,3845607,495,1282930,269564
1,1,2020-05-08,United States,1289235,3912,174697,76537
2,2,2020-05-08,Spain,221447,4702,128511,26070
3,3,2020-05-08,Italy,215858,3583,96276,29958
4,4,2020-05-08,United Kingdom,206715,3112,â€”,30615
5,5,2020-05-08,Russia,187859,1280,26608,1723
6,6,2020-05-08,Germany,169430,2038,135918,7392
7,7,2020-05-08,France,137779,2054,55027,25897
8,8,2020-05-08,Brazil,135773,642,55350,9190
9,9,2020-05-08,Turkey,133721,1608,82984,3641
10,10,2020-05-08,Iran,103135,1238,82744,6486
11,11,2020-05-08,China,82886,59,77993,4633
12,12,2020-05-08,Canada,64922,1709,29247,4408
13,13,2020-05-08,Peru,58526,1821,18388,1627
14,14,2020-05-08,India,56342,41,16540,1886
15,15,2020-05-08,Belgium,51420,4462,12980,8415
16,16,2020-05-08,Netherlands,41774,2394,â€”,5288
17,17,2020-05-08,Saudi Arabia,33731,986,7798,219
18,18,2020-05-08,Ecuador,30298,1736,3433,1654
19,19,2020-05-08,Switzerland,30126,3509,25900,1518

In [19]:
missing_values = ["n/a", "na", "â€”"]
df = pd.read_csv("covid-19_20200508.csv", na_values = missing_values)

print (df.isnull().sum())

Unnamed: 0                     0
Date                           0
Location                       0
Confirmed                      2
Cases per 1 million people     7
Recovered                     18
Deaths                         5
dtype: int64

In [20]:
df['Confirmed'] = df['Confirmed'].fillna(0).astype(int)
df['Cases per 1 million people'] = df['Cases per 1 million people'].fillna(0).astype(int)
df['Recovered'] = df['Recovered'].fillna(0).astype(int)
df['Deaths'] = df['Deaths'].fillna(0).astype(int)

print (df.isnull().sum())

Unnamed: 0                    0
Date                          0
Location                      0
Confirmed                     0
Cases per 1 million people    0
Recovered                     0
Deaths                        0
dtype: int64

In [21]:
df.head()
df.to_csv("Cleaned_Covid_Data.csv")